@use 'settings/variables' as v;
@use 'tools/mixins' as m;

.c-banner1 {
    margin: 3rem 0;
    &__contenedor {
        width: 90%;
        margin: 0 auto;
        @include m.flex (column, nowrap, center, center);
        @include m.neomorfismo (map-get(v.$colores, color-secundario), map-get(v.$colores, color-secundario), 0.5rem, null, 0.5rem, map-get(v.$colores, color-primario-2), map-get(v.$colores, color-primario-2));
        @include m.tablet {
            width: 80%;
        }
        &-arriba {
            @include m.flex (row, nowrap, space-around, center);
            width: 100%;
            padding: 0.5rem;
            @include m.tablet {
                padding: 1rem;
            }
        }
        &-abajo {
            @include m.flex (row, nowrap, center, center);
            width: 100%;
            padding: 0.5rem;
            @include m.tablet {
                padding: 1rem;
            }
        }
    }
    &__grid {
        @include m.grid (2, 0.5rem);
        @include m.telefono-xl {
            @include m.grid (3, 0.5rem);
            padding: 0.5rem;
        }
        @include m.desktop {
            @include m.grid (5, 0.5rem);
        }
    }
    &__producto {
        max-width: 80px;
        cursor: pointer;
        transition: transform 0.7s ease;
        @include m.telefono-xl  {
            max-width: 100px;
        }
        @include m.tablet  {
            max-width: 120px;
        }
        @include m.desktop {
            max-width: 150px;
        }
        &:hover {
            transform: scale(1.1);
        }
    }
    &__texto {
        font-size: 1.2em;
        width: 40%;
        @include m.tablet {
            width: 20%;
        }
        p {
            margin: 0 auto;
            text-transform: uppercase;
            font-size: 0.8em;
            @include m.tablet {
                font-size: 1em;
            }
        }
    }
    &__logo {
        max-width: 10em;
        margin-right: 0.5rem;
        @include m.tablet {
            margin-right: 2rem;
        }
    }
    &__nombre {
        font-size: 1em;
        margin-left: 0.5rem;
        @include m.tablet {
            margin-left: 2rem;
            font-size: 1.5em;
        }
    }
}